header{
    background-color: map-get($colores, colorfondoprimario);
    .barraNavegable{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .logo__barra{
            font-family: map-get($fuente, fuenteLogo);
            font-size: 40px;
            color: $colorVioleta;
        }
        ul{
            display: flex;
            li{
                list-style-type: none;
                padding: 15px;
                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: rgb(0, 0, 0);
                    transition: all .2s;
                    &:hover{
                        color: map-get($colores, colorvioleta);
                        border-bottom: 2px #8E86DC solid;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
