header{
    background-color: rgb( 249, 244, 244);
    .barraNavegable{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .logo__barra{
            font-family: 'Pacifico', cursive;
            font-size: 40px;
            color: rgb(142, 134, 220);
        }
        ul{
            display: flex;
            li{
                list-style-type: none;
                padding: 15px;
                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: rgb(0, 0, 0);
                    transition: all .2s;
                    &:hover{
                        color:rgb(142, 134, 220);
                        border-bottom: 2px #8E86DC solid;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
