header{
    background-color: map-get($colores, backgroundHeader);
    .barraNavegable{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .logo__barra{
            font-family: map-get($fuentes, fuenteLogo);
            font-size: 40px;
            color: map-get($colores, backgroundHeader);
        }
        ul{
            display: flex;
            li{
                list-style-type: none;
                padding: 15px;
                a {
                @include headerA ($colorblack:rgb(0, 0, 0));
                    &:hover{
                        color:rgb(142, 134, 220);
                        border-bottom: 2px #8E86DC solid;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
