.contenedor{
    width: 95%;
    background-color:rgb( 249, 244, 244);
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .img__primera{
        height: 500px;
        width: 650px;
        padding: 5px;
    }
}

.texto__index{
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorDos{
    width: 95%;
    background-color:rgb( 249, 244, 244);
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .img__segunda{
        height: 500px;
        width: 625px;
        margin-top: 5px;
    }
}
