.contenedor{
    @extend %indexContenedor;
    .img__primera{
        height: 500px;
        width: 650px;
        padding: 5px;
    }
}

.texto__index{
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorDos{
    @extend %indexContenedor;
    .img__segunda{
        height: 500px;
        width: 625px;
        margin-top: 5px;
    }
}
