.contenedorIndex{
    margin-top: 50px;
    margin-bottom: 70px;
    background-color:rgb( 249, 244, 244);
    width: 95vw;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    .imgIndex{
        width: 45vw;
        border-radius: 10px;
    }
    .parrafoIndex{
        text-align: center;
        color: rgb(171, 62, 26);
    }
}

@media (max-width: 768px){
    .contenedorIndex{
        flex-direction: column;
    }
}

