.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 20px;
    grid-gap: 10px;

    .galeria {
        overflow: hidden;
        .galeria_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.5s;
            &:hover{
                filter: blur(2px);
                transform: rotate(10deg) scale(1.3);
            }
        }
    }
}


@media (min-width:1024px) {
    .contenedor {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}