.galeria__conjuntos{
    width: 90%;
    margin: 15px auto;
    @extend %galeriaExtend;
    gap: 5px;
    div {
        overflow: hidden;
        .img{
            height: 100%;
            width: 100%;
            cursor: pointer;
            &:hover {
                -webkit-transform:scale(1.3);
                transform:scale(1.3);;
            }
        }
        .img1{
            grid-area: img1;
        }
        .img2{
            grid-area: img2;
        }
        .img3{
            grid-area: img3;
        }
        .img4{
            grid-area: img4;
        }
        .img5{
            grid-area: img5;
        }
        .img6{
            grid-area: img6;
        }
        .img7{
            grid-area: img7;
        }
        .img8{
            grid-area: img8;
        }
        .img9{
            grid-area: img9;
        }
        .img10{
            grid-area: img10;
        }
        .img11{
            grid-area: img11;
        }
        .img12{
            grid-area: img12;
        }
    }
}
