$colores:(
    backgroundHeader:rgb( 249, 244, 244),
    colorTextVioleta: rgb(142, 134, 220),
    backgroundFooter:rgb(244, 223, 232)
);

$fuentes:(
fuenteLogo: 'Pacifico', cursive,
fuenteBody:'Hind Madurai', sans-serif
);