header {
    width: 100%;
    height: 100%;

    nav {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            .logo {
                width: 140px;
                margin-left: 20px;
                font-style: 'Hind Madurai', sans-serif;
            }
        }

        .bar-btn {
            font-size: 25px;
            color: #fff;
            margin-right: 20px;
            cursor: pointer;
        }

        .nav-menu {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 100px;
            background: rgba(0, 0, 0, .95);
            text-align: center;
            transition: all .5s;

            li {
                display: block;
                line-height: 30px;
                margin: 50px 0;
                transition: all .5s;

                a {
                    color: #fff;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
}