* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: "Hind Madurai", sans-serif;
  padding: 90px 20px 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
* body a {
  text-decoration: none;
}

header {
  background-color: #f9f4f4;
}
header .barraNavegable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header .barraNavegable .logo__barra {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: #8E86DC;
}
header .barraNavegable ul {
  display: flex;
}
header .barraNavegable ul li {
  list-style-type: none;
  padding: 15px;
}
header .barraNavegable ul li a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: all 0.2s;
}
header .barraNavegable ul li a:hover {
  color: #8E86DC;
  border-bottom: 2px #8E86DC solid;
  font-size: 18px;
}

footer {
  background-color: rgb(226, 206, 215);
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
footer a {
  color: black;
  font-size: 30px;
}
footer p {
  font-size: 20px;
}

.contenedorIndex {
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: rgb(249, 244, 244);
  width: 95vw;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.contenedorIndex .imgIndex {
  width: 45vw;
  border-radius: 10px;
}
.contenedorIndex .parrafoIndex {
  text-align: center;
  color: rgb(171, 62, 26);
}

@media (max-width: 768px) {
  .contenedorIndex {
    flex-direction: column;
  }
}
.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 20px;
  grid-gap: 10px;
}
.contenedor .galeria {
  overflow: hidden;
}
.contenedor .galeria .galeria_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s;
}
.contenedor .galeria .galeria_img:hover {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}

@media (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.contactoBody main {
  background-color: white;
  color: black;
}
.contactoBody main .principal {
  background-color: rgb(249, 244, 244);
  margin: auto;
  width: 90%;
  overflow: hidden;
  padding: 1em;
  display: flex;
  border-radius: 1em;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 6em;
}
.contactoBody main .principal .figure {
  background-color: #8E86DC;
  overflow: hidden;
  border-radius: 1em;
  display: flex;
}
.contactoBody main .principal .figure .principalImg {
  width: 80%;
  margin: auto;
  max-width: 60vw;
}
.contactoBody main .principal .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  padding: 3em 0.7em;
  text-align: center;
}
.contactoBody main .principal .contact .tituloForm {
  font-size: 2.3rem;
}
.contactoBody main .principal .contact .formulario {
  display: grid;
  justify-items: center;
  gap: 1.5em;
}
.contactoBody main .principal .contact .formulario .formInput {
  width: 80%;
  max-width: 500px;
  outline: none;
  border: none;
  padding: 1em;
  font: inherit;
  border: 0.6em;
}
.contactoBody main .principal .contact .formulario .btnEnviar {
  background-color: #8E86DC;
  color: white;
  font-weight: 600px;
}
.contactoBody main .principal .contact .formulario .btnEnviar:hover {
  background-color: #fff;
  color: #8E86DC;
  border: 1px solid #8E86DC;
}
.contactoBody main .principal .contact .social {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  gap: 1em;
}
.contactoBody main .principal .contact .social .link .link {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.6em 1.5em;
}
.contactoBody main .principal .contact .social .link .link:hover {
  background-color: #fff;
}
.contactoBody main .principal .contact .social .icon {
  width: 30px;
  height: 30px;
}

header {
  background-color: rgb(249, 244, 244);
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .bar {
  color: rgb(142, 134, 220);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}
header nav .logo {
  font-family: "Pacifico", cursive;
  color: rgb(142, 134, 220);
  font-size: 30px;
  padding: 0 40px;
  line-height: 80px;
}
header nav .nav_menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
header nav .nav_menu .nav_item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header nav .nav_menu .nav_item .nav_link {
  color: rgb(142, 134, 220);
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
}
header nav .nav_menu .nav_item .nav_link:hover {
  color: rgb(142, 134, 220);
  border-bottom: 2px #8E86DC solid;
  transition: 0.5s;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  body header {
    height: 60px;
  }
  body header .bar {
    display: block;
  }
  body header .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }
  body header .nav_menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    background-color: #8E86DC;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  body header .nav_menu .nav_item {
    line-height: 70px;
  }
  body header .nav_menu .nav_item .nav_link {
    color: black;
  }
  body header .nav_menu .nav_item .nav_link:hover {
    background: none;
    color: rgb(127, 186, 167);
  }
  body header .nav_visible {
    left: 0;
  }
}
.contenedorCard {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.contenedorCard .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  transition: all 0.25s;
}
.contenedorCard .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.contenedorCard .card .imgCard {
  width: 330px;
  height: 220px;
}
.contenedorCard .card h4 {
  color: rgb(171, 62, 26);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contenedorCard .card .cardTexto {
  text-align: center;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.contenedorPreg {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.contenedorPreg .contenedorItems {
  padding: 50px;
  margin: 30px;
  background-color: rgb(226, 221, 221);
}
.contenedorPreg .contenedorItems .tituloPreg {
  font-size: 2rem;
  color: rgb(171, 62, 26);
  text-align: center;
}
.contenedorPreg .contenedorItems .parrafoPreg {
  margin-top: 32px;
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .contenedorPreg .tituloPreg {
    font-size: 20px;
  }
  .contenedorPreg .parragoPreg {
    font-size: 10px;
  }
}

.tituloCatalogo {
  color: rgb(171, 62, 26);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.contenedorCatalogo {
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.contenedorCatalogo .linkCatalogo {
  text-align: center;
}
.contenedorCatalogo .linkCatalogo .imgCatalogo {
  width: 50%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
  transition: all 0.5s ease-in-out;
}
.contenedorCatalogo .linkCatalogo .imgCatalogo:hover {
  transform: scale(1.3);
  border-radius: 15px;
}
.contenedorCatalogo .parrafoCatalogo {
  color: rgb(52, 132, 132);
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 30px;
}/*# sourceMappingURL=styles.css.map */