* {
  margin: 0;
  padding: 0;
  font-family: "Hind Madurai", sans-serif;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

footer {
  background-color: rgb(244, 223, 232);
  padding-bottom: 50px;
  font-size: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
footer a {
  color: black;
  margin-top: 15px;
}
footer p {
  font-size: 20px;
}

.contenedor {
  width: 95%;
  background-color: rgb(249, 244, 244);
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.contenedor .img__primera {
  height: 500px;
  width: 650px;
  padding: 5px;
}

.texto__index {
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedorDos {
  width: 95%;
  background-color: rgb(249, 244, 244);
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.contenedorDos .img__segunda {
  height: 500px;
  width: 625px;
  margin-top: 5px;
}

.galeria__conjuntos {
  width: 90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "img1 img2 img3 img4" "img5 img6 img7 img8" "img9 img10 img11 img12";
  gap: 5px;
}
.galeria__conjuntos div {
  overflow: hidden;
}
.galeria__conjuntos div .img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.galeria__conjuntos div .img:hover {
  transform: scale(1.3);
}
.galeria__conjuntos div .img1 {
  grid-area: img1;
}
.galeria__conjuntos div .img2 {
  grid-area: img2;
}
.galeria__conjuntos div .img3 {
  grid-area: img3;
}
.galeria__conjuntos div .img4 {
  grid-area: img4;
}
.galeria__conjuntos div .img5 {
  grid-area: img5;
}
.galeria__conjuntos div .img6 {
  grid-area: img6;
}
.galeria__conjuntos div .img7 {
  grid-area: img7;
}
.galeria__conjuntos div .img8 {
  grid-area: img8;
}
.galeria__conjuntos div .img9 {
  grid-area: img9;
}
.galeria__conjuntos div .img10 {
  grid-area: img10;
}
.galeria__conjuntos div .img11 {
  grid-area: img11;
}
.galeria__conjuntos div .img12 {
  grid-area: img12;
}

.contactoBody main {
  background-color: white;
  color: black;
}
.contactoBody main .principal {
  background-color: rgb(249, 244, 244);
  margin: auto;
  width: 90%;
  overflow: hidden;
  padding: 1em;
  display: flex;
  border-radius: 1em;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 6em;
}
.contactoBody main .principal .figure {
  background-color: #8E86DC;
  overflow: hidden;
  border-radius: 1em;
  display: flex;
}
.contactoBody main .principal .figure .principalImg {
  width: 80%;
  margin: auto;
  max-width: 60vw;
}
.contactoBody main .principal .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  padding: 3em 0.7em;
  text-align: center;
}
.contactoBody main .principal .contact .tituloForm {
  font-size: 2.3rem;
}
.contactoBody main .principal .contact .formulario {
  display: grid;
  justify-items: center;
  gap: 1.5em;
}
.contactoBody main .principal .contact .formulario .formInput {
  width: 80%;
  max-width: 500px;
  outline: none;
  border: none;
  padding: 1em;
  font: inherit;
  border: 0.6em;
}
.contactoBody main .principal .contact .formulario .btnEnviar {
  background-color: #8E86DC;
  color: white;
  font-weight: 600px;
}
.contactoBody main .principal .contact .formulario .btnEnviar:hover {
  background-color: #fff;
  color: #8E86DC;
  border: 1px solid #8E86DC;
}
.contactoBody main .principal .contact .social {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  gap: 1em;
}
.contactoBody main .principal .contact .social .link .link {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.6em 1.5em;
}
.contactoBody main .principal .contact .social .link .link:hover {
  background-color: #fff;
}
.contactoBody main .principal .contact .social .icon {
  width: 30px;
  height: 30px;
}

header {
  width: 100%;
  height: 100%;
}
header nav {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav div .logo {
  width: 140px;
  margin-left: 20px;
  font-style: "Hind Madurai", sans-serif;
}
header nav .bar-btn {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
header nav .nav-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  transition: all 0.5s;
}
header nav .nav-menu li {
  display: block;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}
header nav .nav-menu li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */